<h1>Projects</h1>
<div class="card-group" >
  <div class="card">
    <%# <img src="proyecto1.png" class="card-img-top" alt="..."> %>
    <%= image_tag "proyecto1.png", class:"card-img-top img-fluid h-75", alt:"proyecto_ricomida"%>
    <div class="card-body">
      <h5 class="card-title">Ricomida</h5>
      <p class="card-text">página web relacionada con la preparación de comidas y
muestra de recetas.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= image_tag "proyecto2.png", class:"card-img-top img-fluid h-75" ,alt:"proyecto_viajesChile"%>
    <div class="card-body">
      <h5 class="card-title">viajes Chile</h5>
      <p class="card-text">página web relacionada con la compra de pasajes de avion y paquetes turisticos.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
  <div class="card">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%= image_tag "proyecto3.png", class:"card-img-top img-fluid h-75", alt:"proyecto_Olivia_Ross"%>
    <div class="card-body">
      <h5 class="card-title">Olivia Ross</h5>
      <p class="card-text">página web relacionada  a un sitio personal de Olivia Ros.</p>
      <a href="#" class="btn btn-primary">Ver más</a>
    </div>
  </div>
</div>

