
<meta http-equiv="refresh" content="10; url=/contact"/>
<h1>Ingresando con exito al DDBB</h1>

<label>Nombre</label>
<p><%params["inputName"]%><p>

<label>Email</label>
<p><%params["inputEmail"]%></p>

<label>comentarios</label>
<p><%params["InputComments"]%></p>


