<h1>Contact</h1>

<!--Formulario-->

<form class="row g-3" action="/contact/create" method="get">
  <div class="col-12 d-block">
    <label for="inputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="your name">
  </div>

  <div class="col-12 d-block">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="your Email">
  </div>
  
  <div class= "col-12">
  <label for="inputComments">Comments</label>
  <div class="form-floating">
  <textarea class="form-control" name="inputComments" placeholder="Leave a comment here" id="floatingTextarea"></textarea>

</div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<!--Fin Formulario -->

<!--Captura de datos-->
 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">email</th>
      <th scope="col">comentarios</th> 
    </tr>
  </thead>
  <tbody>
  <%@contact.each do |contact|%>
    <tr>
      <th scope="row">1</th>
      <td><%=contact.name%></td>
      <td><%=contact.email%></td>
      <td><%=contact.comments%></td>
    </tr>
     <%end%>  
  </tbody>
</table>
<!--Fin captura de datos-->