<h1>Contact</h1>

<form class="row g-3" action="/contact/create" method="get">
  <div class="col-12 d-block">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="inputEmail4" placeholder="your Email">
  </div>

  <div class="col-12 d-block">
    <label for="inputAddress" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputAddress" name="inputAddress" placeholder="your name">
  </div>
  
  <div class= "col-12">
  <label for="floatingTextarea">Comments</label>
  <div class="form-floating">
  <textarea class="form-control" name="floatingTextarea" placeholder="Leave a comment here" id="floatingTextarea"></textarea>

</div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
